{% load humanize %}

<div id="guide-header">
    <div id="guide-title">
        <h2>{{ title }}</h2>
        <h3>By {{ author }}</h3>
    </div>
    <div id="guide-metadata">
        <h3>{{ category.value }}</h3>
        <div class="guide-labels">
            {% for label in labels %}
                <span class="label">{{ label.value }}</span>
            {% endfor %}
        </div>
        <p>Posted on {{ date | naturaltime}}</p>
        <div class="guide-icons">
            <span> 👀 {{ views }}</span>
            <span> ✏️ {{ edits }}</span>
            <span> ❤️ {{ likes }}</span>
        </div> <!-- Guide Icons -->
    </div>
</div>