<div id="category-select">
    <label for="categories">Category: </label>
    <select id="categories" name="categories">
        <option value="default">Select a Category</option>
        <option value="Networking">Networking</option>
        <option value="Virtualization">Virtualization</option>
        <option value="Kubernetes">Kubernetes</option>
        <option value="Storage">Storage</option>
        <option value="Automation">Automation</option>
        <option value="Monitoring">Monitoring</option>
        <option value="Operating_Systems">Operating Systems</option>
        <option value="Cloud/Hybrid">Cloud/Hybrid</option>
        <option value="Development/Testing">Development/Testing</option>
        <option value="Power/Cooling">Power/Cooling</option>
        <option value="Security/Hardening">Security/Hardening</option>
        <option value="Hardware/Builds">Hardware/Builds</option>
    </select>
</div> <!-- Categories -->