<div class="label-filters">
    <label for="labels">Labels: </label>
    <select id="labels" name="labels">
        <option value="default" disabled selected>Label</option>
        {%  for name,value in labels %}
            <option value={{ name }}>{{ value }}</option>
        {%  endfor %}
    </select>

    <div class="guide-labels">
        {% for label in filter_labels %}
            <span class="label">
                {{ label }} <button class="remove-label" aria-label="Remove label">✖</button>
            </span>
        {% endfor %}
    </div>
</div>