{% extends "homelabs/base.html" %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css"  href="{% static "css/view.css" %}">
{% endblock %}

{% block page-title%} Adding Suggestion Page {% endblock %}

{% block content %}
    <!-- Guide Header -->
    {% include 'homelabs/components/guide/full-header.html' with title=guide_info.title category=guide_info.category author=guide_info.author labels=guide_info.labels views=guide_info.views edits=guide_info.edits likes=guide_info.likes %}
    
    <!-- Guide Content -->
    {% include 'homelabs/components/guide/full-suggestion.html' with image_url=guide_info.image_url prerequisites=guide_content.prerequisites steps=guide_content.steps %}

{% endblock %}